/* frontend/src/components/ControlRoom.css */

.control-room-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: var(--bg-dark-1); /* #0f172a to --bg-dark-1 */
}

.main-body {
  display: flex;
  flex-grow: 1; /* This makes the main body fill the available space */
  overflow: hidden; /* Prevents scrollbars on the main layout */
}